<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gotago.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46AE5FC41CFC9D1A00560784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46AE5FDB1CFC9D1A00560784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46AE5FE61CFC9D1A00560784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
